@using MultiShop.DtoLayer.CatalogDtos.ProductDetailDtos
@model GetByIdProductDetailDto

<div class="tab-pane fade" id="tab-pane-2">
    <h4 class="mb-3">Ürün Hakkında Bilgiler</h4>
    @if (Model != null && !string.IsNullOrEmpty(Model.ProductInfo))
    {
        <p>@Model.ProductInfo</p>
    }
    else
    {
        <p>Ürün hakkında bilgi bulunamadı.</p>
    }
</div>
