
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_UILayoutTopbarComponentPartial")

    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")


    @await Component.InvokeAsync("_UILayoutUrlDirectoryComponentPartial")




    @RenderBody()
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>